* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    height: 100vh;
    background-position: top 0 left 0, bottom 0 right 0;
    background-repeat: no-repeat;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
}

h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin: 15px 0;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    margin-bottom: 20px;
    color: hsl(303, 10%, 53%);
}

h3 {
    color: #ffffff;
    font-size: 15px;
}

h4 {
    color: hsl(333, 80%, 67%);
    font-size: 13px;
}

p {
    color: hsl(300, 43%, 22%);
    text-align: center;
    font-weight: 700;
    margin: 0;
    font-size: 10px;
    display: inline-block;
    margin-right: 30px;
}

.container {
    padding: 0;
}

.boxes {
    width: max-content;
    margin: 30px auto;
}

.stars-rate {
    padding: 10px 30px 10px 20px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 7px;
    position: relative;
    margin: 10px;
    height: auto;
    width: 400px;
}

.star {
    margin: 0 3px;
}

.stars-box {
    width: fit-content;
    display: inline-block;
    margin-right: 15px;
}

.cards {
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
    padding: 25px;
    margin: 10px 0;
}

.card-2 {
    position: relative;
    top: 14px;
}

.card-3 {
    position: relative;
    top: 28px;
}

.profile-photo {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.title {
    display: inline-block;
}

.titles {
    width: 70%;
}

.quotes {
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
}

.attribution {
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#main {
    margin: 100px 10%;
}

#lower-part {
    margin-top: 15px;
}

@media(max-width: 500px) {
    body {
        text-align: center;
        background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    }
    p {
        display: block;
    }
    .cards {
        text-align: left;
    }
    .card-2,
    .card-3 {
        top: 0;
    }
    .stars-rate {
        margin: 10px auto;
        padding: 10px;
    }
    .titles {
        margin: 0 auto;
    }
}